@page
@model Astronauts.Pages.AstronautFolder.CreateModel


<br/>
<h2 class="text-info"> Register new Astronaut</h2>
<br/>

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Astronaut.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Astronaut.Name" class="form-control" />
            </div>
            <span asp-validation-for="Astronaut.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Astronaut.Surname"></label>
            </div>
            <div class="col-6">
                <input asp-for="Astronaut.Surname" class="form-control" />
            </div>
            <span asp-validation-for="Astronaut.Surname" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Astronaut.Date"></label>
            </div>
            <div class="col-6">
                <input asp-for="Astronaut.Date" class="form-control" />
            </div>
            <span asp-validation-for="Astronaut.Date" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Astronaut.Superpower"></label>
            </div>
            <div class="col-6">
                <input asp-for="Astronaut.Superpower" class="form-control" />
            </div>
            <span asp-validation-for="Astronaut.Superpower" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>

    </form>
</div>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}